body{
    margin-left: 30px;
    margin-right: 30px;
    font-family:sans-serif;
    line-height: 23px;
}

h1{
    text-align: center;
    font-size: 40px;
    color:darkblue;
}

h2{
    text-align: center;
}

h3{
    font-size: 25px;
}

h4{
    font-style: italic;
    font-size: 18px;
}

.note{
    font-style: italic;
}

img{
    width: 1220px;
    height:300px;
}

#list1{
    list-style-type:circle;
}

#list2{
    list-style-type:square;
}